@{
    ViewBag.Title = "Management";
    Layout = "~/Views/Shared/_FEAContentLayout.cshtml";
}

@Html.DevExpress().GetStyleSheets(
    new  StyleSheet{ExtensionSuite = ExtensionSuite.GridView})

@Html.DevExpress().GetScripts(
    new Script{ExtensionSuite = ExtensionSuite.GridView})

<div class="panel-body">
    <form id="frmMainForm">
        <h4><i class="icon-edit-sign teal"></i>Request Management</h4>
    </form>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <div class="vertComponentContainer">
                @{
                    Html.RenderAction("MNRequestList","Maintenance",new {strDocType=ViewBag.Type});
                 }
                </div>
            </div>  
        </div>  
    </div>
</div>