@{
    ViewBag.Title = "RoomInformation";
    Layout = "~/Views/Shared/_FEAContentLayout.cshtml";
}

<h2>RoomInformation</h2>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            @*@{Html.RenderAction("GetRoomInformation", "Scheduler");}*@

        </div>
    </div>
</div>