<table align="center" cellpadding="0" style="width:700px; border-collapse: collapse; background-color:#373737; border:2px solid ">
    <!-- title-->
    <tr style="padding-bottom:50px;">
        <td style="width:30%; padding-top:10px;padding-bottom:10px">
            <img src="http://portal.feavn.com.vn/ITS/Images/its_logo.png" style="max-width:100px;" />
        </td>
        <td width="100%" style="color:#96C22C; font-size:28px; padding-top:10px padding-bottom:10px">You have an Invitation Meeting</td>
    </tr>
    <!-- Content-->
    <tr cellpadding="0" cellspacing="0" style="background-color:#FAFCF9;  ">
        <td colspan="2" align="center">
            <img src="https://lh3.googleusercontent.com/eaDtSCnTnNkfyPd5j58QKyhtJsRDjKWbcMWCqZcMeaXoLUkmK06xGQXlET4JVZNAxbw5I9iTvUNyHgthymQW0YZ4AbkgvrPHfFWIfbi9HLDBGjri2iUKu9X3xZzlGx9XmEhgmPBfpSPlfLjHc04fbjeDylx7fE4XSixNMLWjBMXc2Y-Lr1n-AOi-34Y7_U3EIo0ksv5iKaJWzf0hHRLuJL7w1cYWAQOKqMj6hvD_VKMU76l2YgoGsh7NIX2_Nm7EeUqpmex_PR3icvoqNsgagbd9BGLd7pZWpv1lsZGTpw_ivgu7iSt9MEDDcPxs0LTQKGIghFbqGwv2rv0be7Te0wpLY3LqHnXt3JFmO_HjK2WqhRUexdKtmsejcP5lNuRN4SHXRREnxXxmam8m_0NtCn8Nmw43e13ZihonnvP1MZ5rM5o7r5GDdqU85QQfnVDizhcMUh6d8YHgqRJwsl4p-g3zaQH_o-FocWvEa58UZScdeOmurD6kSVJT5FW9FPh52F5WYYgmQGXfCVa6qIRWZ3wf3aSQss-Wl0jNY6Ur1C3mg5knxRvGJ9ixlJb72sDuxvN6JiKZM3rc05XjTXOaYrRtdKvVUdohP60Q1Pxz2x-Hvn6z2x6tr0KShxY6E8_bDbrNcdG8h0WyhTaQ_j2kfkCmqllcOcW5st6vo6WBJ6A1Vw=s128-no" style="max-width:60px; margin-top:30px; margin-bottom:40px" />
        </td>
    </tr>
    <tr cellpadding="0" cellspacing="0" style="background-color:#FAFCF9; ">
        <td style="padding-top:30px; padding-bottom:30px" colspan="2" width="100%">
            <p width="100%" align="center" style="font-size:18px;">
                You have an invitation meeting from Iris at
                8:00 to <strong>9:00</strong>,
            </p>
            <p align="center" style="color:#F38C64; "> <strong>Location:</strong> Phòng hội nghị, xưởng 1</p>
            <p align="center" style="color:#F38C64;"><strong>Subject:</strong> Thảo luận dự án MRB  </p>
            <p align="center" style="color:#F38C64; "><strong>Họp gấp: </strong> không </p>
        </td>
    </tr>
    <hr />
    <!--footer -->
    <tr align="center">
        <td colspan="2">
            <p align="center" style="color:#96C22C;padding-top:10px; padding-bottom:10px">&copy; @DateTime.Now.Year IT Team thank you </p>
        </td>s
    </tr>
</table>