@{
    ViewBag.Title = "DocumentType";
    Layout = "~/Views/Shared/_FEAContentLayout.cshtml";
}
@model List<FEA_BusinessLogic.WFDocumentType>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>

@Html.DevExpress().GetStyleSheets(
    new StyleSheet{ExtensionSuite = ExtensionSuite.GridView})

@Html.DevExpress().GetScripts(
    new Script{ExtensionSuite=ExtensionSuite.GridView})

<div class="panel-body">
    <form id="frmMainForm">
        <h4><i class="icon-edit-sign teal"></i>Document Management</h4>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @{Html.RenderAction("GetGridView", "Base", new { frm = Model, GridName = FEA_ITS_Site.Models.Helper.PartialParameter.DOC_TYPE_PARTIAL });
                      
                      }
                </div>
            </div>
        </div>
    </form>

</div>

@Html.Partial("ModalPartial/_IframeModal")
