<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings><!--<add name="FEA_ITSEntities" connectionString="metadata=res://*/FEASiteDataModel.csdl|res://*/FEASiteDataModel.ssdl|res://*/FEASiteDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.17.215.12;initial catalog=ITS_JASON_TEST;persist security info=True;user id=FEAWUser;password=!FEAWUser89;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="FEA_ITSEntities" connectionString="metadata=res://*/FEASiteDataModel.csdl|res://*/FEASiteDataModel.ssdl|res://*/FEASiteDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.17.213.167;initial catalog=ITS_Test;persist security info=True;user id=dev_user;password=test;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <!--<add name="FEA_ITSEntities" connectionString="metadata=res://*/FEASiteDataModel.csdl|res://*/FEASiteDataModel.ssdl|res://*/FEASiteDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.17.215.12;initial catalog=ITS;persist security info=True;user id=dev_user;password=test;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>