@{
    ViewBag.Title = "ItemManage";
    Layout = "~/Views/Shared/_FEAContentLayout.cshtml";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>

@Html.DevExpress().GetStyleSheets(
    new StyleSheet{ExtensionSuite = ExtensionSuite.GridView},
    new StyleSheet{ExtensionSuite = ExtensionSuite.Editors})

@Html.DevExpress().GetScripts(
    new Script{ExtensionSuite = ExtensionSuite.GridView},
    new Script{ExtensionSuite = ExtensionSuite.Editors})

<div class="panel-body">
    <hr />
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                @{Html.RenderAction("EditModesPartial", "Item");}
            </div>
        </div>
    </div>
</div>
@Html.Partial("ModalPartial/_IframeModal")
